
h1 {
    display: inline-block;
    position: relative;   
    font-family:  'Tangerine', cursive; 
    margin: 5px auto;

}

.button-depart{
    height: 45px;
    line-height: 45px;
    width: 30%;
    background: greenyellow;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: .1s ease all;
    margin: 10px;           
}

.button-depart:hover{
    background: rgb(157, 255, 10);
}
