
.titulo{
    font-family: sans-serif;
    font-size: 70px;
    text-align: center;
}

.departamento{
    margin: 0 20px;
    text-align: center;
}

.button-depart{
    height: 50px;
    width: 30%;
    line-height: 50px;
    background: #0CEDA2;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .1s ease all;
    margin: 20px;
    
}

.button-depart:hover{
    background: #1dda9b;
    border-radius: 20px;
}

.button-depart:hover{
    box-shadow: 3px 0px 30px rgb(133, 209, 114);
}