

.crear-opinion{
    width: 400px;
    height: 555px;
    background: #fff;
    top: 15%;
    left: 35%;
    position: absolute;
    display: grid;
    gap: 15px;
    padding: 5px;
    margin: 3px;
    font-weight: bold;
    font-size: 14px;
    
}


#departamento, #calificacion, #comentario{
    display: block;
    height: 30px;
    width: 90%;
    font-weight: 500px;
    padding: 5px;
    border: solid 1px;
    border-radius: 10px;
    
    

}

.titulo-1{
    font-family: 'Alegreya Sans', sans-serif;
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.bonton-opinion{
    border: none;
    outline: none;
    width: 80%;
    height: 30px;
    background: #0CEDA2;
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    position: -ms-page;
    
}