

.crear-opinion{
    width: 380px;
    height: 650px;
    background: #fff;
    top: 20%;
    left: 36%;
    position: absolute;
    display: grid;
    gap: 20px;
    padding: auto;
    margin: 5px;
    font-weight: bold;
    font-size: 14px;
}


#departamento, #calificacion, #comentario{
    display: block;
    height: 50px;
    width: 90%;
    font-weight: 700px;
    padding: 10px;
    border: solid 1px;
    border-radius: 10px;
    

}

.titulo-1{
    font-family: 'Alegreya Sans', sans-serif;
    margin-top: 10px;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
}

.bonton-opinion{
    border: none;
    outline: none;
    width: 80%;
    height: 40px;
    background: #0CEDA2;
    color: #000;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}