

.crear-opinion{
    width: 400px;
    height: 555px;
    left: 35%;
    position: absolute;
    display: grid;
    gap: 15px;
    margin: 3px;
    font-weight: bold;
    font-size: 14px;
    
}


#departamento, #calificacion{
    display: block;
    height: 30px;
    width: 100%;
    font-weight: 500px;
    padding: 5px;
    border: solid 1px;
    border-radius: 10px;
    
}
 #comentario{
     border: solid 1px ;
     border-radius: 9px;
     height: 100px;
 }

.titulo-1{
    font-family: 'Alegreya Sans', sans-serif;
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
}

.bonton-opinion{
    border: none;
    outline: none;
    height: 30px;
    background: #0CEDA2;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
    position: -ms-page;
    
}