body{

}
.izquierda{
    height: 100vh;
}

.imagenes{
    display: inline-block;
    height: 20%;
    width: 20%;
    
    margin-right: 20px;
    margin-bottom: 20px ;
}
.imagenes2{
    display: inline-block;
    height: 20%;
    width: 20%;
    
    margin: 30px;
}

.text{
    font-size: 15px;
    margin: 20px;
}

.derecha{
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 100vh;
}
#pantalla-divididad{
    display: flex;
}