.container{
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
}

.button-ver-mas{
    height: 45px;
    line-height: 25px;
    width: 200px;
    background: #0CEDA2;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    transition: .1s ease all;
    text-decoration: none;
    border: none;
    text-decoration: none;

    
}
.button-ver-mas:hover{
    box-shadow: 3px 0px 30px rgb(133, 209, 114);
}

.button-ver-mas-mensaje{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-box{
    display: inline-block;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.img-card{
    width: 50px;
    height: 150px;
}

.ingreso{
    width: 350px;
    height: 550px;
    background: #fff;
    top: 2%;
    left: 36%;
    
    position: absolute;
    transform: translate(5%, 15%);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr ;
    gap: 20px;
    padding: auto;
   
    
}

.ingreso::after{
    padding: 0%;
    background: brown;
    width: none !important;
    height: 450px;
}

.ingreso .ingreso-logo{
    width: 300px;
    height: 300px;
    
    top: -60px;
    left: calc(50% - 100px);
    
}


