.container-2{
    max-height: 100%;
    background-image: url(../../images/img/opiniones.png);
    background-size:cover;
}

.opinion__contenedor{
    background:transparent;
    width: 25%;   
    text-align: left; 
    border: solid 1px black;
    display: inline-block;
   

}